* {
    font-family: 'Poppins', sans-serif;

}

body {
    overflow-x: hidden;
    background: $white;

}

.d-none {
    display: none;
}

.no-gutter {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.yellow {
    color: $yellow;
}

.grey {
    color: $grey;
}

.mt-100 {
    margin-top: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 130px !important;
}

.pt-50 {
    padding-top: 100px !important;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes revolve {
    from {
        -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(50px) rotate(360deg);
    }
}

.black-bg {
    background: #000 !important;
    animation: easeIn 1.65s;
    transition: background 1.65s;
}


.white-bg {
    background: #fff !important;
    animation: easeIn 1.65s;
    transition: background 1.65s;
}

.color-white {
    color: #fff !important;
}

.myrotate {
    animation: spin 6s linear infinite;
}

.revolve {
    animation: revolve 4s linear infinite;
}

.p-20 {
    padding: 5px;
}

.badge {
    font-family: 'Poppins', sans-serif;
}

::selection {
    color: black;
    background: $yellow;
}
