.highlight-heading {
    color: $yellow;
}

.heading {

    position: relative;
    width: 100%;
    margin: 1 auto;


    .title {
        width: 100%;
        font-size: 2.1rem;
        text-align: center;
        color: $grey;
        font-weight: 500;

        @mixin mediumScreen {
            font-size: 2.3rem;
        }
    }

    .subtitle {
        width: 100%;
        color: $grey;
        text-align: center;
        font-weight: 400;
        font-size: 1rem;


    }

    .heading-sprinkles {
        position: absolute;
        top: 0;
        left: 50%;
        /*        width: 100%;*/
        transform: translateX(-172%);
        margin-top: -1.1rem;
        /*        width: 80%;*/
    }

}
