/*
1. Extra Small less thn 576 px
2. small - devices < 768px
3. Medium Screen - <992 px;
4. large 1200px <
5. extra large >=1200

*/

@define-mixin smallScreen {
    @media(min-width: 500px) {
        @mixin-content
    }
}

@define-mixin mediumScreen {
    @media(min-width: 768px) {
        @mixin-content
    }
}

@define-mixin largeScreen {
    @media(min-width: 992px) {
        @mixin-content
    }
}

@define-mixin extraLargeScreen {
    @media(min-width: 1200px) {
        @mixin-content
    }
}
