.circle {
    width: 7rem;
    height: 7rem;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: solid $yellow 4px;

    .circle-filled {
        width: 5.5rem;
        height: 5.5rem;
        background: $yellow;
        margin: auto;
        border-radius: 50%;
    }
}


.cross {

    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    justify-content: center;

    .stick {
        width: 5px;
        height: 50px;
        background: $yellow;
        position: absolute;
        border-radius: 2px;
        opacity: 0.3;
    }

    .stick1 {
        transform: rotate(-45deg);
    }

    .stick2 {
        transform: rotate(45deg);
    }



}

.encircle {

    position: absolute;
    top: 30%;
    transform: rotate(180deg);

    .circle-o {
        border: solid 3px $yellow;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        opacity: 0.3;
    }

    .circle {

        width: 4rem;
        height: 4rem;
        background: $yellow;
    }

    @mixin mediumScreen {
        display: block !important;
    }

}
