.btn-general {
    background: $yellow;
    color: #fff;
    padding: 0.7rem 1.2rem;
    margin: 1rem 0;

    border-radius: 25px;

}

.my-btn {
    background: $yellow;
    color: #fff;
    padding: 0.5rem 1.2rem;
    margin: 1rem 0;

    border-radius: 25px;
    font-size: 0.8rem;
}

.my-btn:hover {
    color: $white;
    text-decoration: none;
}


.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 4px;
    font-size: 25px;
    padding: 2px 13px;

}


.btn-primary,
.btn-primary:visited {
    color: #ffffff;
    background-color: $yellow;
    /*    -webkit-box-shadow: 0 13px 27px 0 rgba(253, 179, 9, 0.35);*/
    /*    box-shadow: 0 13px 27px 0 rgba(253, 179, 9, 0.35);*/
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #ffffff;
    background: $greyNew;
    transform: translateY(5px);

    /*    box-shadow: 0 13px 27px 0 rgba(124, 124, 124, 0.35);*/
}

.btn-primary.focus,
.btn-primary:focus {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary .show > .btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary .show > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background: $greyNew;

    transform: translateY(5px);

    /*    box-shadow: 0 13px 27px 0 rgba(124, 124, 124, 0.35);*/
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #ffffff;
    background-color: $yellow;

    /*    box-shadow: 0 13px 27px 0 rgba(253, 179, 9, 0.05);*/
    opacity: 1;
}

.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary:disabled:hover,
.btn-primary:disabled:focus {
    background: $grey;

    /*    box-shadow: 0 13px 27px 0 rgba(124, 124, 124, 0.35);*/
    border-radius: 25px;
}

.btn {
    font-weight: 500;
    font-size: 14px;
    border: none;
    padding: 10px 20px;
    position: relative;
    border-radius: 25px;
    z-index: 1;
    /*    text-transform: uppercase;*/

    transition: 0.5s;
}

.btn::after,
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: $lightGrey;
    z-index: -1;
    border-radius: 25px;
}

.btn::after {
    left: 0;
    border-radius: 25px;
}

.btn::before {
    right: 0;
    border-radius: 25px;
}

.btn:hover::after,
.btn:hover::before {
    /*    width: 20%;*/
    /*    border-radius: 2    5px;*/
}
