.contact-me {
    .heading-sprinkles {
        transform: translateX(-218%);
    }

    .phone,
    .email {
        display: flex;
        justify-content: center;



        i {
            padding: 0.4rem 1rem;

        }

        span {
            padding: 0.8rem 1.2rem;
            color: $grey;
        }

        @mixin mediumScreen {

            justify-content: flex-end;


        }
    }

    .email {
        @mixin mediumScreen {
            justify-content: flex-start;
        }
    }

    .my-container {
        width: 90%;

        @mixin mediumScreen {
            width: 70%;
        }

    }

    color: $yellow;

    .form-control:focus {
        border-color: $yellow;
        box-shadow: inset 0 1px 1px rgba(253, 179, 9, 0.6), 0 0 6px rgba(253, 179, 9, 0.3);
    }

    textarea {
        resize: none;
    }
}
