.home {
    width: 98vw;
    margin: 5rem auto;
    overflow-x: hidden !important;

    &-image {
        width: 97%;



        @mixin mediumScreen {
            display: block !important;
            margin-top: 3rem;

        }
    }

    &-image-mobile {
        left: 0;
        width: 95%;
        margin: 0 auto;

        @mixin mediumScreen {
            display: none !important;
        }
    }

    .heading {
        padding: 1rem;
        margin-top: 5rem;

        @mixin mediumScreen {
            top: 40%;
            transform: translateY(-50%);
            font-size: 1.4rem;
            margin-left: 3.4rem;
        }

        .title {
            font-weight: 600;

            @mixin mediumScreen {
                text-align: left;
            }
        }

        .subtitle {
            font-size: 0.9rem;
            text-align: justify!important;
            padding: 3%;
            margin: 0 auto;

            @mixin mediumScreen {
                font-size: 0.8rem;

            }

            @mixin largeScreen {
                text-align: left;
                padding: 1rem 0 0 0;
                line-height: 1.8;
                font-size: 1rem;
            }
        }

        .btn-outer {
            display: flex;
            justify-content: center;

            .btn {
                text-align: center;
                font-size: 1rem;
            }

            .btn-primary:visited,
            .btn-primary:active,
            .btn-primary:default {
                color: #ffffff;
                background-color: $yellow;
            }

            @mixin mediumScreen {
                padding: 5% 0;
                justify-content: left;
            }

        }

    }

    .heading-sprinkles {
        top: 05%;
        transform: translateX(-222%);

        @mixin mediumScreen {
            left: 40%;
            transform: translateX(-250%);
        }

        @mixin largeScreen {
            left: 30%;
            transform: translateX(-250%);
        }

        @mixin extraLargeScreen {
            left: 23%;
            transform: translateX(-250%);
        }
    }

    .circle-1 {
        position: absolute;
        width: 8rem;
        height: 8rem;
        top: 0%;

        @mixin mediumScreen {
            left: -3%;
            top: 40%;
        }

        left: -10%;

        .circle-filled {
            width: 6.5rem;
            height: 6.5rem;
        }
    }



    .cross-0 {
        position: absolute;
        bottom: 10%;
        right: 2%;
    }

    .encircle {
        position: absolute;
        top: 10%;
        right: 5%;
        transform: rotate(-80deg);
    }

}
