.know-me {
    position: relative;

    .outer-image {

        display: flex;
        justify-content: center;
        margin: 2rem auto;


        .inner-image {
            border: solid 0.15rem $red;
            width: 50%;
            height: 50%;
            border-radius: 50%;
            padding: 0.3rem;

            @mixin mediumScreen {
                border: solid 0.25rem $red;
                width: 20%;
                padding: 0.5rem;
                margin: 0;
            }
        }

        img {
            width: 100%;
            border-radius: 50%;
            margin: 0 auto;
            border: solid 0.3em $yellow;

            @mixin mediumScreen {
                border: solid 0.5rem $yellow;
            }
        }
    }

    .name {
        color: $grey;
        text-align: center;
    }

    .my-details {
        background: $lightGrey;


        @mixin mediumScreen {
            padding: 2rem;
            margin-top: 2rem;
        }



        .subtitle {
            color: $grey;


            @mixin mediumScreen {
                margin-bottom: 2.5rem;
            }
        }

        .item {

            padding: 1rem;

            h4 {
                font-size: 1.1rem;


                @mixin mediumScreen {
                    text-align: left;
                    font-size: 1.2rem;
                    padding: 0;
                }
            }

            h6 {
                font-size: 0.9rem;

                @mixin mediumScreen {
                    text-align: left;
                    font-size: 1rem;

                }
            }

            @mixin mediumScreen {
                margin-left: 4rem;
                padding: 0;
            }

        }
    }

    .circle-3 {
        position: absolute;
        top: 45%;
        right: -10%;
        width: 8.5rem;
        height: 8.5rem;

        .circle-filled {
            width: 7rem;
            height: 7rem;

            @mixin mediumScreen {
                width: 9rem;
                height: 9rem;
            }
        }

        @mixin mediumScreen {
            width: 10.5rem;
            height: 10.5rem;
            top: 40%;
            right: 10%;
        }
    }

    .circle-4 {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 5.5rem;
        height: 5.5rem;

        .circle-filled {
            width: 4rem;
            height: 4rem;

            @mixin mediumScreen {
                width: 9rem;
                height: 9rem;
            }
        }

        @mixin mediumScreen {
            width: 10.5rem;
            height: 10.5rem;
            top: 10%;
            left: -2%;
        }
    }

    .cross {
        .stick {
            height: 35px;
            width: 3px;

            @mixin mediumScreen {
                height: 50px;
                width: 5px;
            }
        }
    }

    .cross-1 {
        top: 20%;
        left: 10%;

        @mixin mediumScreen {
            top: 10%;
            left: 80%;

        }

    }

    .cross-2 {
        bottom: 10%;
        right: 10%;

        @mixin mediumScreen {
            bottom: 20%;
            left: 5%;
        }
    }

    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes revolve {
        from {
            -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg) translateX(50px) rotate(360deg);
        }
    }

    .myrotate {
        animation: spin 10s linear infinite;
    }

    .revolve {
        animation: revolve 4s linear infinite;
    }
}
