.modal {

    .image {
        display: flex;
        justify-content: center;

        img {
            width: 70%;

        }
    }

    .owl-next,
    .owl-prev {
        display: none;
    }

    .description {
        width: 90%;
        margin: 1.5rem auto 0 auto;
    }
}
