.my-education {

    position: relative;


    .heading {
        .heading-sprinkles {
            transform: translateX(-200%);
        }
    }



    .card {
        padding: 1.7rem 1rem;
        background: #f5f5f5;
        border: none;
        text-align: center;
        margin: 1rem;
        border-radius: 10px;

        .year {
            color: $yellow;
            opacity: 0.7;
            font-size: 1.4rem;

        }

        .place {
            font-size: 1rem;
        }
    }


    .timeline {
        display: flex;
        justify-content: center;

        img {


            @mixin mediumScreen {
                width: 40%;
                display: block !important;
            }

            @mixin largeScreen {
                width: 21%;
            }
        }


    }

    [class*=col-md-] {
        margin: 0 auto;
    }

    .diploma {
        margin: auto;
    }

    .my-edu {
        /*        position: relative;*/
        margin-top: 2rem;
        padding: 2rem 0;
        border: solid 1px $yellow;


        display: none;

        @mixin mediumScreen {
            display: block !important;
        }


    }

    .my-edu-mobile {
        display: block;

        @mixin mediumScreen {
            display: none !important;
        }
    }

    .kjsce {

        margin-top: 2rem;

        @mixin mediumScreen {
            margin-top: 4rem;
        }
    }

    .circle-7 {
        position: absolute;

        top: 10%;
        left: -2%;
        width: 5rem;
        height: 5rem;

        .circle-filled {
            width: 3.9rem;
            height: 3.9rem;
        }

        @mixin mediumScreen {
            top: 80%;
            left: 80%;

            width: 10rem;
            height: 10rem;

            .circle-filled {
                width: 8.5rem;
                height: 8.5rem;
            }
        }

    }

    .cross-5 {
        top: 40%;
        right: 15%;
        height: 2rem;

        .stick {
            height: 2rem;
        }

        @mixin mediumScreen {
            bottom: 2%;
            right: 15%;
            height: 3rem;

            .stick {
                height: 3rem;
            }



        }
    }


}
