.my-skills {
    position: relative;

    .progress {
        height: 12px;
        border-radius: 50px;
        background-color: #EFEFEF;
        overflow: visible;



    }

    .skill {
        margin-top: 2rem;

        h5 {
            color: $grey;
            font-size: 0.8rem;

            @mixin mediumScreen {
                font-size: 1rem;
            }
        }
    }

    .progress-bar {
        background: $yellow;

        border-radius: 50px;
        position: relative;
    }

    .progress-bar span {
        position: absolute;
        top: -40px;
        left: 95%;
        background: $grey;
        padding: 3px;
        font-family: "Montesrrat", sans-serif;
        font-weight: 300;
        text-align: center;
        font-size: 0.6rem;

        @mixin mediumScreen {
            font-size: 0.7rem;
        }
    }

    .progress-bar span:before {
        content: "";
        border-top: 8px solid $grey;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        position: absolute;
        top: 30px;
        left: 34%;
    }



    #my-skills-tabs {
        margin-top: 3rem;

        ul {

            .skill-tab,
                {
                color: $yellow !important;
                text-decoration: none;
                padding: 1rem;
            }
        }

        li.r-tabs-state-active a {
            color: $white !important;
            background: $yellow;
            padding: 1rem;
        }

        .r-tabs-anchor {

            color: $yellow !important;
            text-decoration: none;
        }

        .r-tabs-state-active a {

            color: $grey !important;

            border-left: solid 3px $yellow;
            border-right: solid 3px $yellow;
            padding: 0 5px;

        }

        .r-tabs-accordion-title {
            padding: 1rem;
        }


        [id*=skill-tab-] {
            border: solid 3px $yellow;
            margin: -0.1rem 1rem;
        }
    }


    .circle-6 {
        position: absolute;
        bottom: 0;
        right: 0;

        @mixin mediumScreen {
            bottom: 5%;
            left: 1%;
            width: 10rem;
            height: 10rem;

            .circle-filled {
                width: 8.5rem;
                height: 8.5rem;
            }
        }

    }

    .encircle {
        position: absolute;


        top: 0;
        right: 10%;

        @mixin mediumScreen {
            top: 0;
            right: 10%;
        }

    }

    .cross-4 {
        top: 10%;
        left: 2%;

        @mixin mediumScreen {
            top: 10%;
            left: 23%;
        }
    }

}
