.my-projects {
    position: relative;

    .heading-sprinkles {
        transform: translateX(-215%);
    }

    .projects-heading {
        color: $grey;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .projects {



        img {
            width: 80%;
            margin: 0 auto;
        }

        .project {
            border: solid 1px $yellow;
            padding: 1rem;
            margin: 1rem;
            position: relative;

            &-title {
                font-size: 1.2rem;
                color: $grey;
                margin: 0.6rem 0;
                text-align: center;
            }

            a:hover {
                text-decoration: none;
            }


        }
    }



    .owl-theme .owl-nav {
        display: flex;
        justify-content: center;
    }

    .owl-theme .owl-nav [class*=owl-] {
        color: #212226;
        font-size: 30px;
        background: none;
        border: none;

        @mixin mediumScreen {
            font-size: 40px;
        }
    }

    .owl-next:focus,
    .owl-prev:focus {
        outline: none;
    }

    .owl-theme .owl-nav .owl-prev {
        position: absolute;
        top: 40%;
        transform: translateY(-40%);
        left: -8%;

    }

    .owl-theme .owl-nav .owl-next {
        position: absolute;
        top: 40%;
        transform: translateY(-40%);
        right: -8%;
    }

    .owl-theme .owl-nav [class*=owl-]:hover {
        background: none;
        color: $yellow;

    }

    #project-elements.owl-theme .owl-nav [class*=owl-]:hover {
        background: none;
        color: $yellow;
    }


    .circle-4 {

        position: absolute;
        top: 0%;
        right: -10%;

        @mixin mediumScreen {
            top: 10%;
            left: 2%;

        }
    }

    .encircle {
        position: absolute;
        right: 10%;
        top: 0;

    }

    .cross-3 {
        bottom: 35%;

        right: 10%;
        height: 2rem;
        width: 2rem;

        .stick {
            height: 2rem;
        }



        @mixin mediumScreen {
            top: 55%;
            right: 3%;
            height: 3rem;
            width: 3rem;

            .stick {
                height: 3rem;
            }

        }

    }
}

.my-container {
    width: 81%;
    margin: 0 auto;
}
