#preloader {
    /*Make FullScreen*/
    width: 100%;
    height: 100%;

    /********** To Make it Full-screen (Another way)*******/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: $yellow;
    /*    background: linear-gradient(to right, #5c9320 2%, #63C600 82%);*/
    z-index: 9999;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    /*
    margin-top: -60px;
    margin-left: -60px;
*/
    transform: translate(-50%, -50%);

    flex-basis: 100%;
    max-width: 100%;
    min-height: 300px;
    max-height: 300px;
    height: 50vh;
    position: relative;
    overflow: hidden;
    /*    border: 2px solid #ffffff;*/
    z-index: 1;
}

.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ball {
    position: absolute;
}

.loader ::before,
.loader ::after {
    position: absolute;
    content: "";
    box-sizing: border-box;
}

@media screen and (min-width: 700px) {
    .loader {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }
}



.balls-01 .loader-container {
    width: 160px;
    height: 145px;
}

.balls-01 .ball-wrapper {
    position: relative;
    display: inline-block;
    float: left;
    width: 23%;
    height: 100%;
    margin: 0 4%;
    overflow: hidden;
}

.balls-01 .ball-wrapper::before {
    position: absolute;
    bottom: -1%;
    width: 100%;
    padding-bottom: 16%;
    border-radius: 50%;
    background: $lightGrey;
    opacity: 1;
    animation: balls1-2 1s infinite linear;
    z-index: 1;
}

.balls-01 .ball-wrapper::after {
    position: absolute;
    width: 63%;
    padding-bottom: 63%;
    bottom: 0;
    left: 50%;
    border-radius: 50px;
    border: 1px solid $white;
    transform: translate(-50%, 0%);
    transform-origin: center;
    z-index: 2;
    background-color: $white;
    animation: balls1-1 1s infinite linear;
}

.balls-01 .ball-wrapper:nth-of-type(1)::before,
.balls-01 .ball-wrapper:nth-of-type(1)::after {
    animation-delay: 0s;
}

.balls-01 .ball-wrapper:nth-of-type(2)::before,
.balls-01 .ball-wrapper:nth-of-type(2)::after {
    animation-delay: 0.2s;
}

.balls-01 .ball-wrapper:nth-of-type(3)::before,
.balls-01 .ball-wrapper:nth-of-type(3)::after {
    animation-delay: 0.3s;
}

@keyframes balls1-1 {
    0% {
        transform: translate(-50%, 0%);
    }

    40% {
        transform: translate(-50%, -90px);
        width: 63%;
        padding-bottom: 63%;
    }

    50% {
        transform: translate(-50%, -100px);
        width: 63%;
        padding-bottom: 63%;
    }

    65% {
        transform: translate(-50%, -90px);
        width: 63%;
        padding-bottom: 63%;
    }

    75% {
        transform: translate(-50%, 0%);
        width: 63%;
        padding-bottom: 63%;
    }

    100% {
        transform: translate(-50%, 10px);
        width: 104%;
        padding-bottom: 31.5%;
    }
}

@keyframes balls1-2 {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }

    50% {
        transform: scale(0.2);
        opacity: 0.3;
    }

    100% {
        transform: scale(0.9);
        opacity: 1;
    }
}
