.abhiyantriki {
    .title {
        color: $grey;
        text-align: center;
    }

    img {
        width: 100%;
    }

    color: $grey;

    .owl-theme .owl-nav {
        display: flex;
        justify-content: center;
    }

    .owl-theme .owl-nav [class*=owl-] {
        color: #212226;
        font-size: 30px;
        background: none;
        border: none;

        @mixin mediumScreen {
            font-size: 40px;
        }
    }

    .owl-next:focus,
    .owl-prev:focus {
        outline: none;
    }

    .owl-theme .owl-nav .owl-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -8%;

    }

    .owl-theme .owl-nav .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -8%;
    }

    .owl-theme .owl-nav [class*=owl-]:hover {
        background: none;
        color: $yellow;

    }

    #project-elements.owl-theme .owl-nav [class*=owl-]:hover {
        background: none;
        color: $yellow;
    }


}
