::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $lightGrey;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $yellow;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $yellow;
}
