.social-media {
    /*    position: absolute;*/
    /*    top:0;*/
    display: flex;
    justify-content: center;
    z-index: 999;


    a {
        padding: 1rem;

        i {
            font-size: 1.2rem;
            color: $yellow;

        }
    }

    @mixin mediumScreen {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        display: block;

        a {
            display: block;
            margin: 0 auto;
            padding: 1rem;

            i {
                font-size: 1.5rem;
                color: $yellow;
            }
        }

        a:hover {
            i {
                color: $grey;
            }
        }
    }

}
